
PORT=3000
CORS_ORIGIN=http://localhost:5173
MONGODB_URI="mongodb://127.0.0.1:27017"
DB_NAME="smartwaste"

ACCESS_TOKEN_SECRET=asdfghjkl123456zxcv
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=qwertyuiop7890bnm
REFRESH_TOKEN_EXPIRY=10d

ADMIN_SECRET_CODE=12345admin
COLLECTOR_SECRET_CODE=12345collector